@media (max-width: 480px) {
    h1{font-size: 20px} 
    h2{font-size: 18px;}
    h3, section h3.section-subheading{font-size: 16px} 
    header .intro-text .intro-heading, header .intro-text p{font-size: 16px; }
    section#paneldiscussion{padding:50px;}
}
@media (min-width: 480px) and (max-width: 768px){
     .hexagon1- {margin:0 0 60px 25%;}
}
@media(max-width:767px) {
    header .intro-text .intro-heading, header .intro-text p{font-size: 20px; }
    .btn-xl{padding: 10px 20px; font-size: 15px; text-align: center; }
    .navbar-nav li {float: none; display: block;}
    .hexagon1 {margin-bottom: 60px;}
    section#agenda h5{text-align: center; }
    .v-mid img{ position: static; display: inline; margin: 10px 0px;}
    section#venue .tab-content{width: 100%}
}
@media (min-width: 768px) and (max-width: 991px){
    .hexagon1- { margin-bottom: 45px;}
    .hexagon1 { margin-bottom: 45px;}
}
@media (max-width: 991px) {
    .intro-text .lead-bot{position: static;}
    .sp-wrapper, .row4.sp-wrapper, .row5.sp-wrapper{float: none; height: auto; width: auto;}
    .row2, .row4.sp-wrapper, .row5.sp-wrapper{margin-left: auto; margin-top: -10px;}
    .g-row{margin-top: auto;}
}
@media(min-width:768px) {
    .navbar-default {
    background: rgba(254,254,254, 0.5); /* Old browsers */
    border-color: transparent;

}
    .navbar-default { padding: 10px; border: 0;  -webkit-transition: padding .3s; -moz-transition: padding .3s; transition: padding .3s;}
    .navbar-default .navbar-brand {font-size: 2em;  -webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s; }
    .navbar-default .navbar-nav>.active>a { border-radius: 3px; }
    .navbar-default.navbar-shrink {padding: 10px 0; background-color: rgb(254, 254, 254);}
    .navbar-default.navbar-shrink .navbar-brand {font-size: 1.5em;}
}
@media(max-width:1082px){
    

    .reg{text-align: center;}
    .hex1{display: none;}
    section#speakers .wrap hr.hrl, section#speakers .wrap hr.hrl, section#speakers .wrap2 hr.hrl{width: 30%;}
    section#speakers .wrap3 hr.hrl{width: 18%;}
    .reg{margin-left: 0px;}
    header .intro-text .date p{margin-right: 0px;}
}
@media (min-width: 768px) and (max-width: 1280px){
   section#paneldiscussion{padding:100px;}
}


@media(max-width: 1199px){
    section#speakers .wrap3{top: -120px;}
    section#speakers .wrap4{top: -130px;}
}

@media (min-width: 1200px) {
.container{
    max-width: 970px;
}
.btn-wrap .btn.highlights{
    margin-left:20px;
}
}



