@import url(http://fonts.googleapis.com/css?family=Abel);
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #272626;
    background: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h2.section-heading{
    color: #676667;
    padding-bottom: 10px;
}
hr{
    border-color:transparent;
}

section#sponsors .btn-wrap a.btn:hover, .btn-wrap .btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    border-color: #2dbb28;
    color: #fff;
    background-color: #2dbb28;
    -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; 
}

section#sponsors h2.section-heading {
  margin-bottom: 20px;
}
section#sponsors div.row.text-center {
  margin-bottom: 50px;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-wrap .btn{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    text-transform: uppercase;
}
.btn-xl {
    padding: 12px 45px;
    border-color: #4b8f1d;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    background-color: #4b8f1d;
    text-align: left;
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    border-color: #4e941e;
    color: #fff;
    background-color: #4e941e;
    -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; 
}
.navbar-default {
    background: rgba(254,254,254, 0.8); /* Old browsers */
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #2dbb28;
    padding: 0 0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #2dbb28;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}
.navbar-default .navbar-toggle {
    border-color: #2dbb28;
    background-color: #2dbb28;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2dbb28;
}
.navbar-default .nav li a {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #333;
    cursor: pointer;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    outline: 0;
    color: #222222;
    -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; 
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #2dbb28;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #2dbb28;
}
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background: url(../img/header-bg.jpg) #000000;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header .intro-text {
    padding-top: 150px;
    padding-bottom: 180px;
}
header .intro-text .intro-lead-in {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 50px 0px 0px;
}
header .intro-text .intro-heading {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
}
.intro-text img{
    display: inline;
}
section {
    padding: 100px 0;
}
header .intro-text .lead-bot a{
    font-size: 12px;
    text-transform: uppercase;
    color: #edd740;
    text-align: center;
    text-decoration: none;
}
header .intro-text .lead-bot p{
    margin-bottom: 0px;
}
header .intro-text p {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
header .intro-text .date p{
    margin-right: 10px;
}
header .intro-text p.intro-sub {
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
    margin-top: 20px;
}
.intro-text .lead-bot {
    margin-top: 100px;
    text-align: center;
}
.intro-text hr.hrl{
    border-color:#989999;
    width: 50%;
    margin:0px; 
    border-width: 2px;
}
.navbar-nav {    
    text-align: center;
}
.navbar-nav li {
  float: none;
  display: inline-block;
}
/*-----------highlight------*/
section#highlights{
}
section h4.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #7b6aa4;
}
h4.service-heading{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
    padding: 0px 20px;
}
section#highlights img{
    display: inline;
}
.sec2-lead{
    color: #edd740;
}
section#highlights2 {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background: url(../img/speakers.png) #ffffff;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:200px;
}
/*-----------speakers------*/
section#speakers{
    background: #ffffff;
    padding-bottom: 0px;
}
section#speakers img{
    display: inline;
    margin-bottom: 15px;
}
section#speakers h5{
    color: #403f3f;
    font-weight: 600;
    margin-bottom:5px;
}
section#speakers p{
    /*color: #8e8e8f;*/
    color: #555;
    font-size: 12px;    
}
section#speakers .spkr-wrap i{
    font-size:18px;
    color: #383737;
    padding: 0px 5px;
}
section#paneldiscussion {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background: url(../img/jointheconversation.jpg) #ffffff;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:200px;
}
section#paneldiscussion h1{
    font-size: 40px;
}
/*-----------panel------*/
section#panels{
    background: #ffffff;
    padding-bottom: 0px;
}
section#panels img{
    display: inline;
    margin-bottom: 15px;
}
section#panels h2.section-heading2{
    color: #46aad4;
}
section#panels h4{
    color: #46aad4;
}
section#panels h5{
    color: #403f3f;
    font-weight: 600;
    margin-bottom:5px;
}
section#panels p{
    color: #8e8e8f;
    font-size: 12px;    
}
section#panels .spkr-wrap i{
    font-size:18px;
    color: #383737;
    padding: 0px 5px;
}
section#panelsbot {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background: url(../img/panelsbot.jpg) #ffffff;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:200px 100px;
}
/*-----------agenda------*/
section#agenda{
    background: #ffffff;
}
section#agenda h4, section#agenda h5, section#agenda .container .nav-tabs > li a{
    color: #e77a45;
}
section#agenda .container .nav-tabs > li{
    position: relative;
    left: 29%;
}
h4.timeline-title-wrap {
    float: left;
    padding-top: 10px;
    width: 23%;
}
.timeline-heading img.img-circle {
  width: 40px;
  height: 40px;
}

.timeline-heading img.exhibit-start {
  margin-left: 20px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

ul.timeline h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

table.track-schedule {
  font-size: 80%;
}
table.track-schedule th small {
  font-weight: normal;
  font-style: italic;
}

.special-tracks {
  text-align: center;
}

/*-----------Venue------*/
section#venue{
   background: #ffffff;
}
section#venue .col-sm-6{
    padding:0px;
}
section#venue .v-wrap {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background: url(../img/venue.jpg) #ffffff;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:113px;
}
section#venue .v-wrap2 iframe{
    max-width: 100%
}
section#venuebot{
    background-attachment: scroll;
    background: url(../img/venuebot.jpg) #ffffff;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:180px;
}

/*-----------Register------*/
section#register{
    background: #fefefe;
}
section#register img{
    display: inline;
}
section#register iframe{
    background: #ffffff;
}
/*-----------Sponsor------*/
section#sponsors{
    background: #fefdfd;
}
section#sponsors h4.section-subheading{
    color: #7ebc5e;
}
section#sponsors h4.bot{
    text-transform: none;
    color: #7ebc5e;
    text-decoration: none;
}
section#sponsors img{
    display: inline;
    margin-bottom: 15px;
}
section#sponsors .btn-wrap a.btn, section#highlights .btn-wrap a.btn, section#cfp .btn-wrap a.btn{
    background: transparent;
    border: 2px solid #7ebc5e;
    color: #7ebc5e;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
}
/*--------footer-------------*/
footer {
    padding: 25px 0;
    text-align: center;
}
footer ul li a{
    color: #3d454f;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
footer ul.navtop li a.mod{
    cursor: pointer;
}
footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    color:#3d454f;
}
footer .container img{ 
    display: inline;
}
